<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.memberMapper">
	<insert id="madd" parameterType="persistence.MemberDTO">
		insert into tbl_member
		values(#{email},#{nickname},#{pwd},#{grade})
	</insert>
	<select id="mlogin" parameterType="persistence.MemberDTO"
		resultType="persistence.MemberDTO">
		select * from tbl_member where email = #{email} and
		password = #{pwd}
	</select>
	<select id="idCheck" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select count(email) from tbl_member where email = #{email}
	</select>
	<select id="mlist" resultType="persistence.MemberDTO">
		select email, nickname, grade from tbl_member order by grade desc
	</select>
	<delete id="mdelete" parameterType="java.lang.String">
		delete from tbl_member where email=#{email}
	</delete>
</mapper>